.negocio-card {
    margin-bottom: 20px; /* Espacio entre cada negocio */
  }
  
  .negocio-item {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra ligera para destacar */
  }
  
  mat-card-header {
    display: flex;
    align-items: center;
  }
  
  mat-card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  mat-card-subtitle {
    font-size: 14px;
    color: gray;
  }
  
  mat-list-avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  mat-card-content {
    margin-top: 10px;
  }
  
  mat-card-content p {
    margin: 0;
    font-size: 14px;
  }
  
  .mat-icon {
    vertical-align: middle;
    margin-right: 5px;
  }

  .negocio-item img {
    width: 100px;  /* Ancho fijo para la imagen */
    height: 100px; /* Alto fijo para la imagen */
    object-fit: cover; /* Esto asegura que la imagen mantenga su proporción y llene el espacio sin deformarse */
    border-radius: 50%; /* Hace la imagen circular (opcional) */
  }
  
  