<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">

                <h1 class="text-center"> Registrar Usuario </h1>
                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Nombre de usuario:</mat-label>
                        <input required [(ngModel)]="user.username" name="username" matInput placeholder="Escriba su nombre de usuario">
                        <mat-hint>username único</mat-hint>
                    </mat-form-field>
                    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Contraseña:</mat-label>
                        <input required [(ngModel)]="user.password" name="password" matInput type="password" placeholder="Escriba su password">
                    </mat-form-field>
                    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Nombre:</mat-label>
                        <input required [(ngModel)]="user.nombre" name="nombre" matInput type="text" placeholder="Escriba su nombre">
                    </mat-form-field>
                    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Apellido:</mat-label>
                        <input required [(ngModel)]="user.apellido" name="apellido" matInput placeholder="Escriba su apellido">
                    </mat-form-field>
                    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email:</mat-label>
                        <input required [(ngModel)]="user.email" name="email" matInput type="email" placeholder="Escriba su Email">
                    </mat-form-field>
                    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Teléfono:</mat-label>
                        <input required [(ngModel)]="user.telefono" name="telefono" matInput type="number" placeholder="Escriba su Teléfono">
                    </mat-form-field>
                    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>CUI:</mat-label>
                        <input required [(ngModel)]="user.cui" name="cui" matInput type="number" placeholder="Escriba su DPI">
                    </mat-form-field>
                    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>NIT:</mat-label>
                        <input required [(ngModel)]="user.nit" name="nit" matInput type="number" placeholder="Escriba su NIT">
                    </mat-form-field>
                    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Rol:</mat-label>
                        <mat-select [(ngModel)]="user.rolId" name="rol" required>
                            <ng-container *ngFor="let rol of roles">
                                <mat-option [value]="rol.rolId">
                                    {{ rol.rolNombre }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    
                    
                    
                    
                    


                    <div class="container text-center">
                        <button mat-raised-button color="primary">Registrar</button>
                        <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Limpiar</button>
                    </div>
                </form>

                <br><br>
            </div>
        </div>
    </div>
</div>
