<mat-card>
    <mat-action-list>
      <div mat-subheader>Menu</div>
      <button routerLink = "/admin" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon> Inicio
      </button>
      <button mat-list-item routerLink = "/admin/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
      </button>
      <button mat-list-item routerLink = "/admin/profile">
        <mat-icon mat-list-icon>list</mat-icon>Recurso
      </button>
      <button mat-list-item routerLink = "/admin/profile">
        <mat-icon mat-list-icon>add_circle_online</mat-icon>Agregar Recurso
      </button>
      <button mat-list-item routerLink = "/admin/profile">
        <mat-icon mat-list-icon>list</mat-icon>Servicio
      </button>
      <button mat-list-item routerLink = "/admin/profile">
        <mat-icon mat-list-icon>add_circle_online</mat-icon>Agregar Servicio
      </button>
      <button mat-list-item routerLink = "/admin/profile">
        <mat-icon mat-list-icon>list</mat-icon>Trabajadores
      </button>
      <button mat-list-item routerLink = "/admin/profile">
        <mat-icon mat-list-icon>add_circle_online</mat-icon>Agregar Trabajador
      </button>
      <button mat-list-item routerLink = "/admin/profile">
        <mat-icon mat-list-icon>list</mat-icon>Calendario
      </button>

    </mat-action-list>
  </mat-card>