@media (max-width: 768px) {
    #sidebar {
      display: none; /* Ocultar por defecto en pantallas pequeñas */
    }
  
    #sidebar.active {
      display: block; /* Mostrar cuando está activo */
    }
  }
  

  .mat-list-item {
    transition: background-color 0.3s;
  }
  
  .mat-list-item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Color de fondo al pasar el ratón */
  }
  