<mat-card>
    <mat-action-list>
      <div mat-subheader>Menu</div>
      <button routerLink = "/empleado" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon> Inicio
      </button>
      <button mat-list-item routerLink = "/empleado/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
      </button>


      <button mat-list-item routerLink = "/empleado/citas">
        <mat-icon mat-list-icon>list</mat-icon> Ver mis citas
      </button>




    </mat-action-list>
  </mat-card>