<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <h2 class="text-center" *ngIf="step === 1">Recuperar Contraseña</h2>
          <h2 class="text-center" *ngIf="step === 2">Establecer Nueva Contraseña</h2>
  
          <!-- Paso 1: Ingresar correo -->
          <form *ngIf="step === 1" (ngSubmit)="submitEmail()">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Correo Electrónico</mat-label>
              <input [(ngModel)]="email" name="email" required type="email" matInput placeholder="Introduce tu correo electrónico">
            </mat-form-field>
            <div class="text-center">
              <button mat-raised-button color="primary" type="submit">Validar Correo</button>
            </div>
          </form>
  
          <!-- Paso 2: Código de recuperación y nueva contraseña -->
          <form *ngIf="step === 2" (ngSubmit)="resetPassword()">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Código de Recuperación</mat-label>
              <input [(ngModel)]="resetCode" name="resetCode" required type="text" matInput placeholder="Introduce el código">
            </mat-form-field>
  
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Nueva Contraseña</mat-label>
              <input [(ngModel)]="newPassword" name="newPassword" required type="password" matInput placeholder="Introduce tu nueva contraseña">
            </mat-form-field>
  
            <div class="text-center">
              <button mat-raised-button color="primary" type="submit">Cambiar Contraseña</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
  