.container {
    margin-top: 50px;
  }
  
  .mat-card {
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .full-width {
    width: 100%;
  }
  
  .text-center {
    text-align: center;
  }
  