.w100{
    width: 100%;
  }

  .full-width {
    width: 100%;
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  
  .mt-4 {
    margin-top: 1.5rem;
  }
  
  .form-wrapper {
    padding: 20px; /* Espaciado alrededor del formulario */
    background-color: #f9f9f9; /* Color de fondo ligero */
    border-radius: 8px; /* Bordes redondeados */
  }
  
  .mat-card {
    margin: 20px; /* Espaciado exterior de la tarjeta */
  }
  
  .mat-card-header {
    background-color: #1976d2; /* Color de fondo del encabezado */
    color: white; /* Color del texto en el encabezado */
  }
  
  .mat-card-title {
    font-size: 24px; /* Tamaño de fuente del título */
    font-weight: bold; /* Negrita para el título */
  }
  
  .mat-card-subtitle {
    font-size: 14px; /* Tamaño de fuente del subtítulo */
    font-weight: 300; /* Peso de fuente más ligero */
  }
  