<mat-card>
    <mat-list>
      <div mat-subheader>
        Todas las categorías
      </div>
      <mat-list-item *ngFor = "let r of recursos">
        <mat-icon mat-list-icon>recursos</mat-icon>
        <div mat-line>{{ r.nombre }}</div>
        <div mat-line>{{ r.descripcion }}</div>
        <div mat-line>{{ r.disponible }}</div>

        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  
    <div class="container text-center mt20">
      <button routerLink="/admin/add-recurso" mat-raised-button color="primary">Agregar categoría</button>
    </div>
  </mat-card>