<mat-card>
    <mat-action-list>
      <div mat-subheader>Menu</div>
      <button routerLink = "/superusuario" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon> Inicio
      </button>
      <button mat-list-item routerLink = "/superusuario/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
      </button>
      <button mat-list-item routerLink = "/superusuario/negocios">
        <mat-icon mat-list-icon>list</mat-icon>Negocios
      </button>
      <button mat-list-item routerLink = "/superusuario/add-negocio">
        <mat-icon mat-list-icon>add_circle_online</mat-icon>Agregar Negocio
      </button>
      <button mat-list-item routerLink = "/superusuario/users">
        <mat-icon mat-list-icon>list</mat-icon>Usuarios
      </button>
      <button mat-list-item routerLink = "/superusuario/add-user">
        <mat-icon mat-list-icon>add_circle_online</mat-icon>Agregar Usuario
      </button>
    </mat-action-list>
  </mat-card>