<mat-card>
    <mat-action-list>
      <div mat-subheader>Menu</div>
      <button routerLink = "/cliente" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon> Inicio
      </button>
      <button mat-list-item routerLink = "/cliente/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
      </button>

      <button mat-list-item routerLink = "/cliente/servicios">
        <mat-icon mat-list-icon>list</mat-icon> Ver Servicios
      </button>

      <button mat-list-item routerLink = "/cliente/add-cita">
        <mat-icon mat-list-icon>list</mat-icon> Gestionar Citas
      </button>

      <button mat-list-item routerLink = "/cliente/add-cita">
        <mat-icon mat-list-icon>list</mat-icon> Gestionar Citas
      </button>



      <button mat-list-item routerLink = "/cliente/calendario">
        <mat-icon mat-list-icon>list</mat-icon>Calendario
      </button>

    </mat-action-list>
  </mat-card>